<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item class="investors">
    Famous Investors
    <ion-scroll scrollX="true" direction="x">
      <div class="inner">
        <ion-card *ngFor="let investor of investors" (click)="itemTapped(investor.id)" color="lighterdark">
          <ion-row>
            <ion-col>
                {{investor.name}}
              <img src={{investor.photoUrl}}>
            </ion-col>
            <ion-col>
              <div>持仓</div>
              <div>
                <ul class="holds" *ngFor="let hold of investor.primaryHoldings">
                  <li>
                    {{hold.symbol}} {{hold.percent}}
                  </li>
                </ul>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-scroll>
  </ion-item>

  <ion-list class="news">
    <ion-item *ngFor="let n of news" (click)="itemTapped(n.id)" color="lighterdark">
      <ion-row>
        <ion-col col-8>
          <ion-row>
            <ion-col class='source'>
              <p class='note'>{{n.source}}</p>
            </ion-col>
            <ion-col>
              <p displayFormat="MM/DD/YYYY" class="note">{{n.newsTime|date}}</p>
            </ion-col>
          </ion-row>
          <p text-wrap>
            {{n.title}}
          </p>
          <div class='note'>{{n.pv}}文章阅读量</div>
        </ion-col>
        <ion-col col-4>
          <img class='newsPicture' src={{n.titleImageUrl}} />
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold=100px (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>